body {
  background-image: url(images/unionstation.jpg);
  background-image: repeat;
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0.7);
}

#heading {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

#subHeading {
  font-family: Arial, Helvetica, sans-serif;
  color: black;

}

#currentTime {
  color: black;
}

.panel-title {
  font-weight: bold;
}

th {
  font-weight: bold;
}
